*{
    padding: 0em;
    margin: 0em;
}
.navbar{
    padding: 1em;
    display: flex;
}
ul{
    width: 70%;
    display: flex;
    justify-content: space-around;

}

h3{
    width: 30%;
    font-size: x-large;
    margin-left: 1em;
}
.intro{
    display: flex;
}
.left{
    margin-top: .5em;
    font-size: xxx-large;
    line-height: 2.5em;
    margin-left: 1em;
}
h2{
    line-height: 1em;
}
