*{
    padding: 0em;
    margin: 0em;
}
.container{
    background-color: antiquewhite;
}
.navbar{
    padding: 1em;
    display: flex;
    background-color: rgb(210, 156, 156);
}
ul{
    width: 70%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: aliceblue;
}
.currentPage{
    color: green;
    text-decoration: none;
}
.page{
    color: aliceblue;
    text-decoration: none;
}

h3{
    width: 30%;
    font-size: x-large;
    margin-left: 1em;
}

.intro{
    display: flex;
    margin-top: .5em;
    justify-content: space-around;

}
.left{
    font-size: xxx-large;
    line-height: 2.5em;
    margin-left: 1em;
}

h2{
    line-height: 1em;
}

img{
    width: 30em;
    height: 30em;
    border-radius: 50%;
}