*{
    padding: 0em;
    margin: 0em;
}
.container{
    background-color: antiquewhite;
}
.navbar{
    padding: 1em;
    display: flex;
}
ul{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

h3{
    width: 30%;
    font-size: x-large;
    margin-left: 1em;
}
.intro{
    display: flex;
    margin-top: .5em;
}
.left{
    font-size: xxx-large;
    line-height: 2.5em;
    margin-left: 1em;
    width: 70%;
    background-color: blueviolet;
}
h2{
    line-height: 1em;
}

img{
    width: 25em;
    height: 25em;
    border-radius: 50%;
}